 <div class="instaFade" id="cv" style="box-shadow: -2px 6px 27px 21px #ccc;">
    <div class="mainDetails">
      <div class="quickFade" id="headshot">
        <img alt="krishna" class="wow fadeInUp grow" data-wow-delay="1s" src="../../assets/images/resume.jpeg" />
      </div>
      <div id="name">
        <h1 class="quickFade delayTwo wow pulse" data-wow-delay="0.6s">
          <span><span>SANDEEP REDDY</span></span></h1>
        <h2 class="quickFade delayThree">
          <span><span><img class="grow" src="https://s10.postimg.org/a5m9ssp21/Developers_Colorai-02-512.png" style="width: 20px;" />Front End Web/ UI Developer</span></span></h2>
      </div>
      <div class="quickFade delayFour wow fadeInRight" data-wow-delay="0.7s" id="contactDetails">
        <ul>
          <li><i aria-hidden="true" class="fa fa-envelope"></i> <a href="mailto:kondoju.krishna1@gmail.com" target="_blank">sandyreddy7454@gmail.com</a></li>
          <li><i aria-hidden="true" class="fa fa-globe"></i> <a href="https://kondojukrishna.blogspot.in/" target="_blank">www.sandeep.com</a></li>
          <li><i aria-hidden="true" class="fa fa-mobile"></i> +1 614-706-7167</li>
        </ul>
      </div>
      <div class="clear">
      </div>
    </div>
    <div class="quickFade delayFive" id="mainArea">
      <section>
        <article>
          <div class="sectionTitle">
            <h1>
              <img class="grow" src="https://s23.postimg.org/wsmev3ny3/shankyfinance.com5892d6211daace081d20c3907d05b59.png" style="width: 30px;"  />
              Professional Summary</h1>
          </div>
          <div class="sectionContent wow zoomIn" data-wow-delay="0.7s">
            <i aria-hidden="true" class="fa fa-hand-o-right"></i>	6 years of extensive experience as Front End Developer in developing highly transactional and scalable web based applications using Object Oriented Analysis and Design Concept (OOAD).<br />
            <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Extensive experience in Design and Development of Web based Applications using HTML4/5, CSS/CSS3, JavaScript, Bootstrap, XHTML, JQuery, AJAX, JSON, DOM, Node JS, React JS and Angular JS/ Angular 2/4.<br />
            <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Expert in working with CSS preprocessors like SASS/LESS/Stylus.<br />
            <i aria-hidden="true" class="fa fa-hand-o-right"></i>Experience in using various MVC JavaScript Frameworks and rendering the JavaScript Libraries such as JQuery Mobile, Ember, Kendo, Angular JS, Backbone.JS, React.JS and Polymer.<br />
            <i aria-hidden="true" class="fa fa-hand-o-right"></i>	 Expert in implementation of web development tools such as Webpack, NPM, Twitter Bootstrap, Sublime, GitHub and Chrome Developer Tools.<br />
            <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Experience in developing Responsive web designed applications using Bootstrap.<br />
          </div>
        </article>
        <div class="clear"></div>
      </section>
      <section>
        <div class="sectionTitle">
          <h1>
            <img src="https://s16.postimg.org/5eypbymv9/laptop-user-512.png" style="width: 20px;" class="grow"/> Work Experience</h1>
        </div>
        <div class="sectionContent">
          <article>
            <h2>T-Mobile, Seattle, WA. <br /> (UI Developer)</h2>
            <div class="subDetails">Nov 2016 – Till Date </div>

            <img src="https://s1.postimg.org/r68j9gyrj/107561-200.png" style="width: 20px;" /> <b>RESPONSIBILITIES:</b><br />
            <div class="wow zoomIn" data-wow-delay="0.7s">
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Created robust user Interface (UI) using JSP, HTML, XHTML, CSS, Bootstrap, JavaScript, Angular JS, JQuery, AJAX, React JS, JSON, Angular 2.0,<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Illustrated the front-end applications, Client interactive (UI) web pages utilizing HTML5, XHTML and CSS3.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Designed and developed the login portal using Angular 2.0 Framework along with HTML5, CSS3 and Type Script.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>Created re-usable Typescript Components and services to exhaust REST API’s by utilizing the advantages of Component based Architecture provided by Angular 2.0.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Familiar with Mobile Web Applications using JQuery Mobile and Twitter Bootstrap<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Implemented Presentation layer using CSS Framework and Wire-framing.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Used Angular JS as framework to create a Single Page Application (SPA) which can bind data to specific point of view and synchronize data with server.<br />
            </div>
          </article>
          <article>
            <h2>Nation Wide – Columbus, OH.  <i aria-hidden="true" class="fa fa-credit-card-alt"></i><br />(UI Developer)</h2>
            <div class="subDetails">Dec 2015 – Oct 2016</div>
            <img src="https://s1.postimg.org/r68j9gyrj/107561-200.png" style="width: 20px;" /> <b>RESPONSIBILITIES:</b><br />
            <div class="wow zoomIn" data-wow-delay="0.7s">
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Developed a User Interface (UI) layout and front-end web application using HTML4/5, CSS2/3, JavaScript, React JS and AJAX.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Designed and developed dynamic webpages using HTML, HTML4/5, CSS, CSS2/3, JavaScript, JQuery, Angular JS, AJAX, LESS, JSON, SASS and XML<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>Extensive used jQuery - CSS3 Selectors, DOM traversal, manipulation and event handling.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>Used Ajax to refresh only certain section of the page and reduce the load on the web server.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Developed Place and Time picker using Object Oriented JavaScript extensively.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Implemented various Validation Controls for form validation and implemented custom validation controls using Object Oriented JavaScript.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Using Angular JS created custom directives for data manipulations and to display data in company standard format.<br />
            </div>
          </article>
          <article>
            <h2>Sears Holding, Chicago, IL </h2>
            <div class="subDetails">Jun 2015 – Nov 2015</div>
            <img src="https://s1.postimg.org/r68j9gyrj/107561-200.png" style="width: 20px;" /> <b>RESPONSIBILITIES:</b><br />
            <div class="wow zoomIn" data-wow-delay="0.7s">
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Involved in a team to create structure of management system by using latest Front end technologies such as HTML5, CSS3, Bootstrap.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Handled browser compatibility issues working on different web browsers by using HTML, CSS, JavaScript.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Developed responsive web pages mainly using Bootstrap and manually inserting CSS media queries code to support performance perfectly.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Responsible for React UI and architecture and used React JS for implementing responsive web design in the customer pick application.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Created tables by using HTML5 and CSS3 to display consumers order information and executed JSON data parsing using Angular JS to render information on tables.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Used Angular JS components such as modules, directives, controllers, filters,services and API’s to build Single Page Application (SPA).<br />
            </div>
          </article>
          <article>
            <h2>INNOMINDS|HYDERABAD, INDIA. <img src="https://s10.postimg.org/8ywbb5mq1/Futluz-_Technologies.png" style="width: 25px;" /></h2>
            <div class="subDetails">Mar 2013 – Dec 2013</div>
            <img src="https://s1.postimg.org/r68j9gyrj/107561-200.png" style="width: 20px;" /> <b>RESPONSIBILITIES:</b><br />
            <div class="wow zoomIn" data-wow-delay="0.7s">
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	The entire development was in Waterfall model.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Involved in Designing, Development, and Testing of the code.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Involved in detail design development of Use Case Diagrams, Class Diagrams, Sequence Diagrams, and high-level Activity Diagrams using Star UML.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Developed programs based on functional specifications which would implement the functionality, as per applicable language standards.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Developed HTML dynamic pages and implemented it with AJAX scripting to process server-side.<br />
              <i aria-hidden="true" class="fa fa-hand-o-right"></i>	Designed the web Pages utilizing the Cascade Styling sheet (CSS)<br />
            </div>
          </article>
        </div>
        <div class="clear"></div>
      </section><br />
      <section>
        <div class="sectionTitle wow bounce" data-wow-delay="0.7s">
          <h1>
            <img class="grow" src="https://s18.postimg.org/5m9c7s32h/icon-innovative-research.png" style="width: 20px;"  />Technical Skills</h1>
        </div>
        <div class="sectionContent wow bounce" data-wow-delay="0.7s">
          <ul class="keySkills">
            <li>AngularJS</li>
            <li>Ajax</li>
            <li>json</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>Bootstrap</li>
            <li>LESS</li>
            <li>SASS</li>
            <li>SQL</li>
          </ul>
        </div>
        <div class="clear"></div>
      </section>
      <div style="float:right">
        <a href="#" class="download" target="_blank">Download</a>
        <a href="#" class="download bottom">File Size: 2MB</a>
      </div>
    </div>
  </div>




