<!--work-experience-->
<div id="experience" class="experience">
  <div class="container">
    <h3 class="tittle_w3layouts two"><i class="fa fa-hand-o-right" aria-hidden="true"></i>Jobs &amp; Experience<i class="fa fa-hand-o-left" aria-hidden="true"></i></h3>
    <p class="sub_para two">What I Love to Do</p>
    <div class="skill_info_wthree_agile">
      <div class="work-info">
        <div class="col-md-6 work-left ">
          <h4 class="bac">Nov 2016 - Till Date </h4>
        </div>
        <div class="col-md-6 work-right">
          <h5><span class="fa fa-dot-circle-o"> </span> UI Developer</h5>
          <p>T-Mobile,Seattle, WA</p>
          <div class="clearfix"> </div>
        </div>
        <div class="work-info">
          <div class="col-md-6 work-right work-right2">
            <h4>Dec 2015 - Oct 2016 </h4>
          </div>
          <div class="col-md-6 work-left work-left2">
            <h5> UI Developer <span class="fa fa-dot-circle-o"> </span></h5>
            <p>Nation Wide- Columbus, OH </p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="work-info">
          <div class="col-md-6 work-left">
            <h4>Jun 2015 - Nov 2015 </h4>
          </div>
          <div class="col-md-6 work-right">
            <h5><span class="fa fa-dot-circle-o"> </span>Front-End Developer</h5>
            <p>Sears Holdings, Chicago, IL </p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="work-info">
          <div class="col-md-6 work-right work-right2">
            <h4>Mar 2013 - Dec 2013 </h4>
          </div>
          <div class="col-md-6 work-left work-left2">
            <h5> Jr. Web Developer <span class="fa fa-dot-circle-o"></span> </h5>
            <p>Innominds- Hyderabad, India.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="work-info">
          <div class="col-md-6 work-left">
            <h4>Sept 2010 - Feb 2013 </h4>
          </div>
          <div class="col-md-6 work-right">
            <h5><span class="fa fa-dot-circle-o"> </span>Jr. Web Developer</h5>
            <p>3Edge Software Solutions, India</p>
          </div>
          <div class="clearfix"> </div>
        </div>
    </div>
  </div>
</div>
<!--//work-experience-->
