<div class="cont">
  <h1 class="agileits w3 wthree w3-agile w3-agileits agileinfo agile">Contact Form</h1>
  <div class="content-w3ls agileits w3 wthree w3-agile w3-agileits agileinfo agile">
    <form action="#" method="post" class="form-agileits">
      <h2>Contact Us</h2>
      <input type="text" id="username" name="username" placeholder="USERNAME" title="Please enter your First Name" required="">
      <input type="email" id="email" name="email" placeholder="MAIL@EXAMPLE.COM" title="Please enter a Valid Email Address" required="">
      <textarea id="message" name="message" placeholder="YOUR MESSAGE" title="Please enter Your Comments"></textarea>
      <input type="submit" class="sign-in" value="Submit">
    </form>
  </div>
</div>
<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d172139.41616770317!2d-122.48214788739395!3d47.61294318279114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490102c93e83355%3A0x102565466944d59a!2sSeattle%2C+WA!5e0!3m2!1sen!2sus!4v1514093408164" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
<!-- //map -->
