<div class="banner" id="home">
  <div class="container">
    <div class="banner_info_w3ls_agile">
      <h3><span>Hello</span> I’m Sandeep</h3>
      <h6>UI Developer</h6>
      <p>Creating the web design is also known as website creation and only the experienced people can create the website in the efficient and attractive way. Creating the business website is used for daily updates, reviews, business placements, posting the new things, social network usage and many others.</p>
      <ul class="slide-up">
        <li><a routerLink="/about" class="w3ls_more scroll">Know More</a></li>
        <li><a routerLink="/contact" class="scroll contact"><i class="fa fa-angle-double-down" aria-hidden="true"></i> Contact Me</a></li>
      </ul>
    </div>
    <div class="banner-image-w3layouts">
      <img src="../../assets/images/skilll.jpeg" alt=" " class="img-responsive san" style="bottom: 0px;top: 66px;"/>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!--start-study-section-->
<div class="study-section">
  <div class="container">
    <div class="study-grids">
      <div class="col-md-6 study-grid">
        <h3 class="text-center"><i class="fa fa-hand-o-right" aria-hidden="true"></i>About Me.<span>!</span><i class="fa fa-hand-o-left" aria-hidden="true"></i></h3>
        <div class="study1">

          <p>Creating the web design is also known as website creation and only the experienced people can create the website in the efficient and attractive way. Creating the business website is used for daily updates, reviews, business placements, posting the new things, social network usage and many others. In real creating the best website is only given by our top Website Development Company as we have gained first ranking all over the country. Our website developers show their power for many years and they provide the website in a better manner. We specialized in simple effective and user-centric design solutions. Our range of services start from designing new responsive websites, maintain customers current website, designing logos, banners, creative icons, We also design bi-fold and tri-fold brochures as per the requirement of the customer.</p>
        </div>
      </div>
      <div class="col-md-6 study-grid">
        <h3 class="text-center"><i class="fa fa-hand-o-right" aria-hidden="true"></i>skills.<span>!</span><i class="fa fa-hand-o-left" aria-hidden="true"></i></h3>
        <div class="study2">
          <h4>html</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
              <span class="sr-only">40% Complete (success)</span>
            </div>
          </div>
          <h4>css</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
              <span class="sr-only">20% Complete</span>
            </div>
          </div>
          <h4>js</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
              <span class="sr-only">60% Complete (warning)</span>
            </div>
          </div>
          <h4>Angular</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
              <span class="sr-only">80% Complete (danger)</span>
            </div>
          </div>
          <h4>JQuery</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
              <span class="sr-only">60% Complete (warning)</span>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--end study-section-->
<!--start-services-section-->
<div class="service-section" id="service">
  <div class="container">
    <div class="service-grids">
      <div class="col-md-4 service-grid">
        <span class="glyphicon glyphicon-pencil Helo1" aria-hidden="true"></span>
        <h4>BROWSER COMPABILITY</h4>
        <span> </span>
        <p>The ability for a website, web application, HTML construct or client-side script to support all the web browsers. Now, you may be confused on what is the difference between cross-browser and multi-browser.</p>
      </div>
      <div class="col-md-4 service-grid">
        <span class="glyphicon glyphicon-flash Helo1" aria-hidden="true"></span>
        <h4>GREAT IDEAS</h4>
        <span> </span>
        <p>Web application security is a branch of Information Security that deals specifically with security of websites, web applications and web services</p>
      </div>
      <div class="col-md-4 service-grid">
        <span class="glyphicon glyphicon-phone Helo1" aria-hidden="true"></span>
        <h4>Flat Design</h4>
        <span> </span>
        <p>Flat design is a style of interface design emphasizing minimum use of stylistic elements that give the illusion of three dimensions and is focused on a minimalist use of simple elements, typography and flat colors.</p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!--end services-section-->
<!--start-social-section-->
<div class="social-icons">
  <h3><i class="fa fa-hand-o-right" aria-hidden="true"></i>Social Network<i class="fa fa-hand-o-left" aria-hidden="true"></i></h3>
  <div class="container">
    <div class="col-md-3 face">
      <p ><i class="facebook Helo1"> </i> 733k</p>
      <h4>facebook likes</h4>
    </div>
    <div class="col-md-3 face">
      <p><i class="twitter Helo1"> </i> 620k</p>
      <h4>twitter followers</h4>
    </div>
    <div class="col-md-3 face">
      <p><i class="google Helo1"> </i> 412k</p>
      <h4>google+ followers</h4>
    </div>
    <div class="col-md-3 face">
      <p><i class="beh Helo1"> </i> 322k</p>
      <h4>behance followers</h4>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!--end-social-section-->
