<!-- services -->
<div class="w3ls-section services" id="services">
  <div class="container">
    <h3 class="agileits-title text-center"><i class="fa fa-hand-o-right" aria-hidden="true"></i>services<i class="fa fa-hand-o-left" aria-hidden="true"></i></h3>
    <div class="services-w3ls-row agileits-w3layouts service1 text-center">
      <h5>web developer</h5>
      <p>Web applications are constantly gaining acceptance over desktop applications.</p>
      <div class="s-top">
        <span class="fa fa-laptop Helo1" aria-hidden="true"></span>
      </div>
    </div>
    <div class="services-w3ls-row agileits-w3layouts middlegrid-w3ls ">
      <div class="col-md-4  col-xs-12  services-grid agileits-w3layouts service2">
        <div class="col-md-10 w3ls-sub-text">
          <h5>ui Design</h5>
          <p> A good web design agency with creative web designers could make it happen.</p>
        </div>
        <div class="col-md-2 sub-icon ">
          <span class="fa fa-caret-square-o-up Helo1" aria-hidden="true"></span>
        </div>
      </div>
      <div class="col-md-4 services-grid img-agileits Helo1">
        <img src="../../assets/images/services.jpg" class="img-responsive" alt="" />
      </div>
      <div class="col-md-4  col-xs-12  services-grid agileits-w3layouts service3">
        <div class="col-md-2 sub-icon">
          <span class="fa fa-grav Helo1" aria-hidden="true"></span>
        </div>
        <div class="col-md-10 w3ls-sub-text">
          <h5>graphic design</h5>
          <p>Tenetur a sapiente itaque earum rerum hic delectus maiores alias phasellus.</p>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="services-w3ls-row agileits-w3layouts service4">
      <div class="s-top">
        <span class="fa fa-adjust Helo1" aria-hidden="true"></span>
      </div>
      <h5>seo</h5>
      <p>Internet is a large window through which any one can expose their business to the world.</p>
    </div>
  </div>
</div>
<!-- //services -->
