<!-- banner -->
<div id="home" class="banner">
  <div class="banner-agileinfo">
    <!-- //header -->
    <div class="banner-text">
      <div class="container">
        <h1><a href="#">Sandeep</a></h1>
        <h2 class="w3ls-bnrtext">I AM <span> UI </span> DEVELOPER</h2>
        <p class="w3ls-p">an interactive web developer with the passion for creativity</p>
        <a routerLink="/project" class="buy btn-wayra scroll">Explore my work</a>
      </div>
    </div>
  </div>
</div>
<!-- //banner -->
<!-- about -->
<div class="about" id="abot">
  <div class="container">
    <div class="about-head text-center ">
      <h3 class="agileits-title"><i class="fa fa-hand-o-right" aria-hidden="true"></i>about me<i class="fa fa-hand-o-left" aria-hidden="true"></i></h3>
      <div class="about-grids-top">
        <div class="col-md-2 about-grid">
          <i class="fa fa-laptop grow" aria-hidden="true"></i>
          <h4>Web design</h4>
        </div>
        <div class="col-md-2 about-grid">
          <i class="fa fa-mobile grow" aria-hidden="true"></i>
          <h4>Mobile Compatabile</h4>
        </div>
        <div class="col-md-2 about-grid">
          <i class="fa fa-user grow" aria-hidden="true"></i>
          <h4>UI Developer</h4>
        </div>
        <div class="col-md-2 about-grid">
          <i class="fa fa-th grow" aria-hidden="true"></i>
          <h4>Creative design</h4>
        </div>
        <div class="col-md-2 about-grid">
          <i class="fa fa-file-text grow" aria-hidden="true"></i>
          <h4>UI Projects</h4>
        </div>
        <div class="col-md-2 about-grid">
          <i class="fa fa-rocket icn grow" aria-hidden="true"></i>
          <h4>Launch</h4>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="agileits-about-grid">
        <p><i class="fa fa-hand-o-right" aria-hidden="true"></i> 6 years of extensive experience as Front End Developer in developing highly transactional and scalable web based applications using Object Oriented Analysis and Design Concept (OOAD).
          Extensive experience in Design and Development of Web based Applications using HTML4/5, CSS/CSS3, JavaScript,
          Bootstrap, XHTML, JQuery, AJAX, JSON, DOM, Node JS, React JS and Angular JS/ Angular 2/4.
          Expert in working with CSS preprocessors like SASS/LESS/Stylus.<i class="fa fa-hand-o-left" aria-hidden="true"></i>
        </p>
      </div> <br/>
      <a href="#" data-toggle="modal" data-target="#myModal"> More about me</a>
    </div>
  </div>
</div>
<!-- //about -->
<!-- modal -->	<!-- for about modal -->
<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">About Me</h4>
      </div>
      <div class="modal-body">
        <div class="about modalpad">
          <div class="col-md-4 col-sm-4  col-xs-4 about-left ">
            <img src="../../assets/images/resume.jpeg" class="img-responsive" alt=""/><div class="social-icons">
            <a href="#" ><i class="fa fa-facebook Helo1" aria-hidden="true"></i></a>
            <a href="#" ><i class="fa fa-linkedin Helo1" aria-hidden="true"></i></a>
            <a href="#" ><i class="fa fa-google-plus Helo1" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter Helo1" aria-hidden="true"></i></a>
          </div>
          </div>
          <div class="col-md-8 col-sm-8 col-xs-8 about-right wthree">
            <h3>Hi, i'm <span>Sandeep </span></h3>
            <h4>UI Developer </h4>
            <ul class="address">
              <li>
                <ul class="agileits-address-text">
                  <li><b>PHONE </b></li>
                  <li>+1 614 706 7167</li>
                </ul>
              </li>
              <li>
                <ul class="agileits-address-text">
                  <li><b>ADDRESS </b></li>
                  <li> &nbsp;&nbsp;Seattle, WA</li>
                </ul>
              </li>
              <li>
                <ul class="agileits-address-text">
                  <li><b>E-MAIL </b></li>
                  <li><a href="mailto:example@mail.com"> sandyreddy7454@gmail.com</a></li>
                </ul>
              </li>
              <li>
                <ul class="agileits-address-text">
                  <li><b>WEBSITE </b></li>
                  <li><a href="#" target="_blank">#</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //modal -->	<!-- for about modal -->
<!--education-->
<div class="agileits-about-btm">
  <div class="container">
    <div class="w3-flex text-center">
      <div class="col-md-4 col-sm-4 ab1 agileits-about-grid2">
        <span class="fa fa-graduation-cap  wthree-title-list" aria-hidden="true"></span>
        <h4 class="agileinfo-head"><i class="fa fa-hand-o-right" aria-hidden="true"></i>education<i class="fa fa-hand-o-left" aria-hidden="true"></i></h4>
        <h5>Masters In Computer Science</h5>
        <p>Governer's State University</p>
        <h5>Bachelors In Electronics and Communication</h5>
        <p>JNTUH</p>
        <h5>High School</h5>
        <p>Aryabatta Concept School</p>
      </div>
      <div class="col-md-4 col-sm-4 pull-right ab1 agileits-about-grid3">
        <span class="fa fa-shield  wthree-title-list" aria-hidden="true"></span>
        <h4 class="agileinfo-head"><i class="fa fa-hand-o-right" aria-hidden="true"></i>expertise<i class="fa fa-hand-o-left" aria-hidden="true"></i></h4>
        <h5>UI Developer</h5>
        <p>T-Mobile, Seattle, WA</p>
        <h5>UI Developer</h5>
        <p>Natin Wide- Columbus, OH</p>
        <h5>Web Developer</h5>
        <p>Sears Holdings, Chicago, IL</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--//education-->
<!-- skills -->
<div class="agile-service w3ls-section" id="skills">
  <div class="container">
    <div class="col-md-5  w3_agileits-service-left">
      <h3 class="agileits-title"><i class="fa fa-hand-o-right" aria-hidden="true"></i>skills<i class="fa fa-hand-o-left" aria-hidden="true"></i></h3>
      <p>Sandeep of all UX trades, master of a growing list. My passion lies in crafting an emersive UX through beautiful UI & interactions. My current toolset is coding these UIs in Sublime Text, Bootstrap, jQuery, Highcharts and D3.js</p>
    </div>
    <div class="col-md-7  skills-right">
      <div class="vertical-skills  pull-right xs-center">
        <ul class="list-inline">
          <li>
            <div class="skill" style="height:100%; background:#ff9d0d;"><span class="value">100%</span></div><span class="title">HTML</span></li>
          <li>
            <div class="skill" style="height:90%; background:#03a9f4;"><span class="value">90%</span></div><span class="title">CSS</span></li>
          <li>
            <div class="skill" style="height:80%; background:#b32eca;"><span class="value">80%</span></div><span class="title">Javascript</span></li>
          <li>
            <div class="skill" style="height:75%; background:#009688;"><span class="value">75%</span></div><span class="title">&nbsp;&nbsp;Angular</span></li>
          <li>
            <div class="skill" style="height:85%; background:#6361f0;"><span class="value">85%</span></div><span class="title">React</span></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div><!--//skills-->
<!--services-->
<app-projects></app-projects>
<!--//services-->
<!-- services -->
<div id="services" class="services">
  <div class="container">
    <div class="service-head one text-center ">
      <h3>My Services</h3>
    </div>
    <!-- services-grids -->
    <div class="wthree_about_right_grids w3l-agile">
      <div class="col-md-4 wthree_about_right_grid">
        <div class="wthree_about_right_grid_left">
          <div class="hvr-rectangle-in">
            <i class="glyphicon glyphicon-book"></i>
          </div>
        </div>
        <div class="wthree_about_right_grid_right">
          <h4>Web Design</h4>
          <p>Web design is a process of conceptualizing, planning, and building a collection of electronic files that determine the layout, colors, text styles, structure, graphics, images, and use of interactive features that deliver pages to your site visitors.</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-4 wthree_about_right_grid">
        <div class="wthree_about_right_grid_left">
          <div class="hvr-rectangle-in">
            <i class="glyphicon glyphicon-pencil"></i>
          </div>
        </div>
        <div class="wthree_about_right_grid_right">
          <h4>Html Coding</h4>
          <p>Hypertext Markup Language, a standardized system for tagging text files to achieve font, color, graphic, and hyperlink effects on World Wide Web pages.</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-4 wthree_about_right_grid">
        <div class="wthree_about_right_grid_left">
          <div class="hvr-rectangle-in">
            <i class="glyphicon glyphicon-thumbs-up"></i>
          </div>
        </div>
        <div class="wthree_about_right_grid_right">
          <h4>Web Development</h4>
          <p> Web development is the process of developing websites or webpages hosted on the Internet or intranet. Think about your favorite website; whether it’s an e-commerce store, blog, social network.</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
      <div class="col-md-4 wthree_about_right_grid">
        <div class="wthree_about_right_grid_left">
          <div class="hvr-rectangle-in">
            <i class="glyphicon glyphicon-paperclip"></i>
          </div>
        </div>
        <div class="wthree_about_right_grid_right">
          <h4>Responisive Design</h4>
          <p>Responsive Web design is the approach that suggests that design and development should respond to the user's behavior and environment based on screen size, platform and orientation. </p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-4 wthree_about_right_grid">
        <div class="wthree_about_right_grid_left">
          <div class="hvr-rectangle-in">
            <i class="glyphicon glyphicon-erase"></i>
          </div>
        </div>
        <div class="wthree_about_right_grid_right">
          <h4>Creative Design</h4>
          <p>Design is the creation of a plan or convention for the construction of an object, system or measurable human interaction (as in architectural blueprints, engineering drawings, business processes, circuit diagrams, and sewing patterns).</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-4 wthree_about_right_grid">
        <div class="wthree_about_right_grid_left">
          <div class="hvr-rectangle-in">
            <i class="glyphicon glyphicon-picture"></i>
          </div>
        </div>
        <div class="wthree_about_right_grid_right">
          <h4>Angular JS design</h4>
          <p>AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly.</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!-- services-grids -->
  </div>
</div>
<!-- services -->

